/* This Code is used to style the Navbar Files */

/* Below code is used to style the navbar div element */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
}

/* Below code is used to style the ul element called nav-menu */
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:60px;
    font-size: 20px;
}

/* Below code is used to style the li element called nav-list */
.nav-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;

    img{
        display: flex;
        margin: auto;
    }
}


/* Below code is used to style the div element */
.connectMe {
    padding: 20px 35px;
    border-radius: 50px;
    background: linear-gradient(256deg, #da7c25 36%, #b923e1 100%);
    font-size: 22px;
    cursor: pointer;
    transition: .5s;

    /* Below code is used to style connectMe hover  */

    &:hover{
        transform: scale(1.1);
        border-radius: 2px;
        transition: .6s;
    }
    
}

.nav-link{
    color: #fff;
    text-decoration: none;
}

.anchor-link{
    text-decoration: none;
}

/* Below code is used to style the Close Mobile Menu */
.navMenuClose,.navMenuOpen{
    display: none;
}

/* Below code is the media query */
/* 1St Mobile responsive Start Here */
@media(max-width:768px) {
    .navbar{
        margin: 20px 50px;
    }

    .connectMe{
        display: none;
    }

    /* Below code is used to style the Open Mobile Menu */
    .navMenuOpen{
        display: block;
        position: fixed;
        right: 30px;
        height: 40px;
        color: #fff;
        background-color: #da7c25;
        cursor: pointer;
    }

    /* Below code is used to style the Close Mobile Menu */
    .navMenuClose{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
        cursor: pointer;
    }

    /* Below code is used to style a ul element nav-menu for the Mobile Menu */
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right .5s;
        right: -350px;

        /* Below code is used to create a li element nav-list */
        .nav-list{
            font-size: 30px;
            padding-left: 100px;
            flex-direction: row;
            gap: 20px;
        }
    }
}
/* 1St Mobile responsive End Here */